*{
    font-family: 'Roboto', sans-serif;
}
header {
    height: 50px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    
}
a{
    text-decoration: none;
}